events {}
http {
    upstream app_servers {
        hash $request_uri consistent;
        server 127.0.0.1:5000;  # Flask server 1
        server 127.0.0.1:5001;  # Flask server 2
        server 127.0.0.1:5002;  # Flask server 3
        # Add more Flask servers as needed
    }

    server {
        listen 80;

        location / {
            proxy_pass http://app_servers;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
        }
    }
}
